@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-brand-purple: #F5F3FB;
  --color-brand-blue: #F3F9FB;
  --color-brand-pink: #F3D9DC;
  --color-brand-peach: #C78283;
}

/* Helpers */

.is-peach {
  color: var(--color-brand-peach);
}

/* Typography */

h1 {
  @apply text-7xl
}

/* Components */

.button {
  border-radius: 25px;
  @apply px-4 py-2 text-2xl mt-6;
}

.primary-button {
  background-color: var(--color-brand-pink);
}

.hero {
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-content {
  align-items: center;
  display: flex;
  @apply container mx-auto h-full;
}

.cards {
  @apply grid grid-cols-3 gap-10 my-4;
}

.card {
  min-height: 595px;
  @apply flex flex-col justify-center text-center items-center shadow shadow-2xl px-4;
}

.cta {
  @apply my-4;

  background-color: var(--color-brand-blue);
  height: 405px;
}

footer {
  background-color: var(--color-brand-purple);
}

@media screen and (min-width: 1024px) {
  .navigation {
    height: 100px;
  }

  .hero {
    height: 550px;
    max-height: 75vh;
  }

  .hero-content {
    justify-content: space-between;
  }
}