@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  min-height: 45vh;
}

.hero--two {
  display: flex;
  align-items: center;
}

.hero--two .hero__text {
  flex: 1 1 75%;
}

.hero--two .hero__image {
  flex-grow: 1;
}

.wave-bg {
  background-image: url("/images/wave.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.shape-bg {
  background-image: url("/images/shapes.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
