@tailwind base;
@tailwind components;
@tailwind utilities;

.main-nav a {
  position: relative;
}

.main-nav a::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: black;
  transform: scaleX(0);
  transition: ease-in 0.3s;
  transform-origin: left;
}

.main-nav a:hover::after {
  transform: scaleX(1);
  transition: ease-in 0.3s;
}

.hero {
  min-height: 45vh;
}

.hero--two {
  display: flex;
  align-items: center;
}

.hero--two .hero__text {
  flex: 1 1 75%;
}

.hero--two .hero__image {
  flex-grow: 1;
}

.wave-bg {
  background-image: url("/images/wave.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shape-bg {
  background-image: url("/images/shapes-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bubble-bg {
  background-image: url("/images/bubble.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
