---
layout: layouts/base
title: Page not found
description: 404.
---
<section class="bg-white py-6">
    <div class="container mx-auto">
        <p class="text-xl my-6 leading-relaxed">Oops, page not found.</p>
    </div>
</section>