---
layout: layouts/base
title: About
description: About us, our story and how we can help you and your marketing requirements.
---
<section class="bg-white py-24 shape-bg" data-aos="fade-right">
        <div class="hero hero--two container mx-auto px-8 lg:px-0">
                <div class="hero__text flex justify-center flex-col">
                        <h1 class="mt-4 text-5xl font-semibold leading-snug">
                                <span class="whitespace-pre-line">Nice to meet you,
                                        I'm <span class="text-brand-rose">Beth</span>.
                                </span>

                        </h1>
                </div>
        </div>
</section>
<section class="bg-white py-12">
        <div class="container mx-auto px-8 lg:px-0" data-aos="fade-right" data-aos-offset="200">
                <h2 class="text-3xl font-semibold">An introduction to me.</h2>
                <p class="text-xl my-6 leading-relaxed">
                        Hi there, my name is Beth and I’m a social media consultant based in Manchester, UK. I have been
                        working in social media marketing for the last four years, and have gained a tonne of experience
                        and made some great achievements along the way. I have worked with a complete diverse client
                        base over the years, from a regional airport to property developers and more.
                </p>
        </div>
</section>
<section class="bg-brand-camel py-12">
        <div class="container mx-auto text-right" data-aos="fade-right" data-aos-offset="100">
                <h2 class="text-3xl font-semibold">So, what is Social Target all about?</h2>
                <p class="text-xl my-6 leading-relaxed">
                        Social Target is about achieving your social media goals.
                </p>
        </div>
</section>
<section class="bg-white py-12">
        <div class="container mx-auto" data-aos="fade-right" data-aos-offset="100">
                <h2 class="text-3xl font-semibold">Where do we go from here?</h2>
                <p class="text-xl my-6 leading-relaxed">
                        Give me a buzz on the phone, drop me a note over email or even send me a text and we can start
                        your journey.
                </p>
        </div>
</section>