---
layout: layouts/base
title: About
---
<section class="bg-white py-24 shape-bg">
        <div class="hero hero--two container mx-auto">
                <div class="hero__text flex justify-center flex-col">
                        <h1 class="mt-4 text-5xl font-semibold leading-snug">
                                <span class="whitespace-pre-line">Nice to meet you,
                                        I'm <span class="text-brand-rose">Beth</span>.
                                </span>

                        </h1>
                </div>
        </div>
</section>
<section class="bg-white py-6">
        <div class="container mx-auto">
                <h2 class="text-3xl font-semibold">An introduction to me.</h2>
                <p class="text-xl my-6 leading-relaxed">Hi there my name is Beth..Lorem ipsum dolor sit amet,
                        consectetur adipiscing
                        elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Hi there
                        my name is Beth..Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
</section>