---
layout: layouts/base
---
<section class="bg-white py-24 wave-bg">
        <div class="hero hero--two container mx-auto">
                <div class="hero__text flex justify-center flex-col">
                        <h1 class="mt-4 text-5xl lg:text-7xl font-semibold leading-snug">
                                <span class="whitespace-pre-line">Social media management,
                                        &amp; content creation
                                        that hit the bullseye.</span>

                        </h1>
                        <h2 class="my-4 text-xl uppercase">Freelance social media consultant</h2>
                </div>
                <div class="hero__image flex justify-center flex-col">
                        <img class="mx-auto" src="/images/target.png" alt="Target icon" width="400" height="400">
                </div>
        </div>
</section>
<section class="-my-16">
        <div class="container mx-auto grid grid-cols-3 gap-10">
                <div class="bg-white p-5 filter drop-shadow-lg flex flex-col justify-start items-center text-center">
                        <img src="/images/message.png" alt="Social media management" width="153" height="153">
                        <h3 class="uppercase my-4 text-2xl">Social Media Management</h3>
                        <p class="my-4 text-xl">Scheduling frequent content, tracking analytics and engaging with your
                                target
                                audiences are a
                                handful of the ingredients needed for a successful social media account, and I will
                                happily take care of them all.</p>
                        <a href="#" class="my-4 uppercase">Find out more</a>
                </div>
                <div class="bg-white p-5 filter drop-shadow-lg">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ullam similique error nostrum ad
                        odio, perspiciatis nobis iusto omnis ut ex in, eum itaque porro excepturi ducimus quasi? Quae,
                        expedita!
                </div>
                <div class="bg-white p-5 filter drop-shadow-lg">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ullam similique error nostrum ad
                        odio, perspiciatis nobis iusto omnis ut ex in, eum itaque porro excepturi ducimus quasi? Quae,
                        expedita!
                </div>
        </div>
</section>