---
layout: layouts/base
title: Home
---
<section class="bg-white py-24 wave-bg">
        <div class="hero hero--two container mx-auto flex-col lg:flex-row px-8 lg:px-0">
                <div class="hero__text flex justify-center flex-col order-2 lg:order-1">
                        <h1 class="mt-4 text-5xl font-semibold leading-snug">
                                <span class="whitespace-pre-line">Social media management,
                                        &amp; content creation
                                        that hit the bullseye.</span>

                        </h1>
                        <h2 class="my-4 text-xl uppercase">Freelance social media consultant</h2>
                </div>
                <div class="hero__image justify-center flex-col hidden md:flex order-1 lg:order-2">
                        <img class="mx-auto w-1/2" src="/images/target.png" alt="Target icon" width="400"
                             height="400">
                </div>
        </div>
</section>
<section class="p-8 lg:p-0 lg:-mt-16">
        <div class="container mx-auto grid lg:grid-cols-3 gap-10">
                <div class="bg-white p-5 filter drop-shadow-lg flex flex-col justify-start items-center text-center">
                        <img src="/images/message.png" alt="Social media management" width="153" height="153">
                        <h3 class="uppercase my-4 text-2xl">Social Media Management</h3>
                        <p class="my-4 text-xl">Scheduling frequent content, tracking analytics and engaging with your
                                target
                                audiences are a
                                handful of the ingredients needed for a successful social media account, and I will
                                happily take care of them all.</p>
                        <a href="#" class="mb-4 mt-auto uppercase">Find out more</a>
                </div>
                <div class="bg-white p-5 filter drop-shadow-lg flex flex-col justify-start items-center text-center">
                        <img src="/images/marketing.png" alt="Content creation" width="153" height="153">
                        <h3 class="uppercase my-4 text-2xl">Content Creation</h3>
                        <p class="my-4 text-xl">After creating a social media strategy to set a plan of action, I will
                                deliver branded graphics and carefully thought through copy for your social media
                                channels to bring your business to life.</p>
                        <a href="#" class="mb-4 mt-auto uppercase">Find out more</a>
                </div>
                <div class="bg-white p-5 filter drop-shadow-lg flex flex-col justify-start items-center text-center">
                        <img src="/images/laptop.png" alt="Copywriting" width="153" height="153">
                        <h3 class="uppercase my-4 text-2xl">Copywriting</h3>
                        <p class="my-4 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="mb-4 mt-auto uppercase">Find out more</a>
                </div>
        </div>
</section>