---
layout: layouts/base
---
<section class="bg-white py-12">
        <div class="hero hero--two container mx-auto">
                <div class="hero__text flex justify-center flex-col">
                        <h1 class="my-4 text-5xl font-semibold leading-snug">
                                <span class="whitespace-pre-line">Social media management,
                                        &amp; content creation
                                        that hit the bullseye.</span>

                        </h1>
                        <h2 class="my-4 text-xl uppercase">Freelance social media consultant</h2>
                </div>
                <div class="hero__image flex justify-center flex-col">
                        <img class="mx-auto" src="/images/target.png" alt="Target icon" width="400" height="400">
                </div>
        </div>
</section>