<footer class="py-6 bg-white" data-aos="fade-in" data-aos-offset="100">
        <div class="flex container mx-auto px-8 lg:px-0">
                <img src="/images/target-logo.svg" alt="Social Target logo" width="100" height="100" class="mr-auto">
                <a href="https://twitter.com/patrickdoesweb" target="_blank" rel="noopener">
                        <img src="/images/target-logo.svg" alt="Social Target logo" width="100" height="100">
                </a>
        </div>
</footer>