<header class="container mx-auto">
  <nav class="navigation">
    <ul class="flex h-full items-center">
      <li class="mr-auto">
        <img src="/images/logo.png" alt="Social Target" width="365" />
      </li>
      {% for item in navigation.items %} {% if item.url == page.url %} {% assign
      highlight = 'cursor-default' %} {% assign current = 'aria-current="page"'
      %} {% else %} {% assign highlight = 'underline' %} {% assign current = ''
      %} {% endif %}
      <li class="inline-block px-4 uppercase">
        <a href="{{ item.url }}" class="text-base" {{ current }}>
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
